:root {
  box-sizing: border-box;

  --orange: hsl(25, 97%, 53%); /* accent color */
  --white: hsl(0, 0%, 100%); /* title, radio font active */
  --light-grey: hsl(217, 12%, 63%); /* paragraph */
  --medium-grey-text: hsl(216, 12%, 59%); /* radio label */
  --medium-grey-bg: hsl(219, 12%, 48%); /* radio hover bg */
  --dark-blue: hsl(213, 19%, 18%); /* star icon bg, radio bg */
  --very-dark-blue-1: hsl(215, 20%, 17%); /* card bg */
  --very-dark-blue-2: hsl(215, 27%, 12%); /* card bg */
  --darkest-blue: hsl(228, 11%, 9%); /* body bg */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;

  background-color: var(--darkest-blue);
  color: var(--white);

  font-family: "Overpass", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;

  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
}

img,
picture {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.card {
  background: linear-gradient(var(--very-dark-blue-1), var(--very-dark-blue-2));
  width: min(20.375rem, 90%);
  min-height: 22.5rem;
  display: grid;
  place-items: center;
  padding-inline: 1.5rem;
  border-radius: 0.875rem;
}

.survey img {
  width: 2.375rem;
  background-color: var(--dark-blue);
  padding: 0.75rem;
  border-radius: 50%;
}

.title {
  font-size: 1.5rem;
  line-height: 1;
  margin-block-end: 1rem;
}

.paragraph {
  margin-block-start: 0;
  margin-block-end: 1.875rem;
  color: var(--light-grey);
  font-size: 0.875rem;
}

.options {
  display: flex;
  justify-content: space-between;
  margin-block-end: 1.5rem;
}

.option {
  --option-size: 2.625rem;
  display: inline-grid;
  place-items: center;
}

.option input,
.option label {
  grid-column: 1;
  grid-row: 1;
}

.option input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: var(--option-size);
  height: var(--option-size);
  background-color: var(--dark-blue);
  border-radius: 50%;
  cursor: pointer;
}

.option label {
  color: var(--medium-grey-text);
  line-height: var(--option-size);
  cursor: pointer;
}

.option input:is(:hover, :focus, :focus-visible) {
  background-color: var(--medium-grey-bg);
}

.option input:focus-visible {
  outline: 0.25rem dashed var(--white);
  outline-offset: 0.375rem;
}

.option input:is(:hover, :focus, :focus-visible) + label {
  color: var(--white);
}

.option input:checked {
  background-color: var(--orange);
}

.option input:checked + label {
  color: var(--white);
}

.form button {
  -webkit-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  background-color: var(--orange);

  padding: 1em 2em;
  border: 0;
  border-radius: 1.5rem;

  font-size: 0.875rem;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.125em;

  cursor: pointer;
}

.form button:is(:hover, :focus, :focus-visible) {
  background-color: var(--white);
  color: var(--orange);
}

.form button:focus-visible {
  outline: 0.25rem dashed var(--white);
  outline-offset: 0.375rem;
}

/* Error message */

.form {
  position: relative;
}

.error-message {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-120%);

  font-size: 0.8125rem;
  font-weight: 700;
  color: var(--orange);
  opacity: 0;
}

.error-message.visible {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

/* Survey close animation */

.survey.close {
  /* Circular mask */
  -webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0) 50%);

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: 200% 200%;
  mask-size: 200% 200%;

  animation: close 400ms ease-out forwards;
}

@keyframes close {
  from {
    -webkit-mask-size: 200% 200%;
    mask-size: 200% 200%;
  }

  to {
    -webkit-mask-size: 0% 0%;
    mask-size: 0% 0%;
  }
}

/* Thank you state */

.thanks {
  display: none;
  opacity: 0;
  justify-items: center;
  text-align: center;
  gap: 1.5rem;
}

.thanks.visible {
  display: grid;
  animation: fade-in 1000ms linear 300ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.thanks * {
  margin: 0;
}

.thanks img {
  width: 9rem;
}

.rating {
  padding: 0.375em 0.75em;
  background-color: var(--dark-blue);
  color: var(--orange);
  font-size: 0.875rem;
  border-radius: 2em;
}

.rating:focus {
  /* This non-interactive element receives focus after the form is submitted */
  /* This hides the outline that would be displayed */
  outline: 3px solid transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 48em) {
  .card {
    width: min(25.75rem, 90%);
    min-height: 26rem;
    padding-inline: 2rem;
    border-radius: 2rem;
  }

  .survey img {
    width: 3rem;
    padding: 1rem;
  }

  .title {
    margin-block-start: 2.25rem;
    font-size: 1.75rem;
  }

  .paragraph {
    font-size: 0.9375rem;
  }

  .options {
    margin-block-end: 1.875rem;
  }

  .option {
    --option-size: 3.25rem;
  }

  .thanks {
    gap: 0;
  }

  .thanks img {
    width: 10.125rem;
    margin-block-end: 2rem;
  }

  .rating {
    margin-block-end: 2.25rem;
    padding: 0.375em 1.25em;
    font-size: 0.9375rem;
  }

  .thanks .title {
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  .thanks .paragraph {
    padding-inline: 0.25rem;
  }
}
